/build/
/.gradle/
app/build/
.idea/
*.iml
.gradle/
.aws-sam/
.aws/
.DS_Store
coverage.txt
/NOTE/
/app/src/main/resources/application-local.yml
.env.local
.env
amazon-items.json
.env.prod
/.env.deploy
